page-login {

    .login-content{
      background-color: transparent;
    }
  
    .label-logo{
      text-align: center;
      padding-top: 50px;

      >ion-img
      {
        background-color: transparent;
      }
    }
  
    .label-name{
      color: white;
      font-size: 300%;
      text-align: center;
      font-family: serif;
      text-transform: uppercase;

      >span
      {
          border-bottom: 2px solid;
          border-top: 2px solid;
      }
    }
  
    .top-row{
      height: 80%;
    }
  
    .bottom-row{
      height: 20%;
  
    }
  
  }
  