page-login {

    .login-content{
      background-color: transparent;
    }
  
    .label-logo{
      text-align: center;
      padding-top: 50px;

      >ion-img
      {
        background-color: transparent;
      }
    }
  
    .label-description{
      color: white;
      font-size: 130%;
      text-align: center;
    }
  
    .top-row{
      height: 80%;
    }
  
    .bottom-row{
      height: 20%;
  
    }
  
  }
  