page-contacts {

    .contact-name
    {
        font-size: 14px;

        &:hover
        {
            color:rgb(82, 131, 221);
        }

        &:active
        {
            color:rgb(59, 95, 161);;
        }
    }

    .scroll-content
    {
        top:55px;
    }

    .fixed-content
    {
        ion-list,
        ion-label
        {
            margin:0;
        }
    }
}
