page-contacts {

    .contact-name
    {
        font-size: 14px;

        &:hover
        {
            color:rgb(82, 131, 221);
        }

        &:active
        {
            color:rgb(59, 95, 161);;
        }
    }

    .fixed-content
    {
        ion-label
        {
            margin: 0;
        }
    }
    .scroll-content
    {
        top:55px;
    }
}
