<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list inset>
             <ion-item ion-fixed class="text-select">
                <p>Your Address: </p>
                <p style="color: cornflowerblue">{{address()}}</p>
                <button ion-button icon-only clear item-end (click)="doCopy()">
                  <ion-icon  name="ios-copy-outline" ></ion-icon>
                </button>
              </ion-item>
              <ion-item *ngFor="let c of contacts" class="text-select" 
                        (press)="activateContact(c)" (swipe)="activateContact(c)" (click)="selectContact(c)" 
                        (mouseenter)="activateContact(c)" (mouseleave)="deactivateContact(c)">
                <ion-icon class="icon-inline" item-start [color]="colorForContact(c)" [name]="iconForContact(c)"></ion-icon>
                <div class="contact-name">{{c.name}}</div> 
                <button ion-button icon-only clear item-end color="primary3" *ngIf="c === contactActive" (click)="infoContact(c)">
                  <ion-icon name="ios-information-circle-outline"></ion-icon>
                </button>
                <button ion-button icon-only clear item-end color="primary3" *ngIf="c === contactActive" (click)="deleteContact(c)">
                  <ion-icon name="ios-close-circle-outline"></ion-icon>
                </button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

      </ion-grid>
    <ion-fab right bottom>
      <button ion-fab color="primary3" (click)="addContact()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
