<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Messenger</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid class="grid-shrink">
    <ion-row>
      <ion-col>
          <ion-list inset>
              <ion-item class="text-select">
                <p>Your Address: </p>
                <p style="color: cornflowerblue">{{address}}</p>
                <button ion-button icon-only clear item-end (click)="doCopy()">
                  <ion-icon  name="ios-copy-outline" ></ion-icon>
                </button>
              </ion-item>
            </ion-list>
      </ion-col>
    </ion-row>
    <ion-row style="flex:100%">
        <ion-col>
            <page-contacts *ngIf="tab == 'contacts'" (onContactSelected)="contactSelected($event)"></page-contacts>
            <page-messages *ngIf="tab == 'messages'" [contact]="selectedContact"></page-messages>
        </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
    <ion-toolbar color="primary2" no-border-top>
        <ion-segment [(ngModel)]="tab" color="light">
          <ion-segment-button value="contacts">
            <ion-icon name="ios-contact-outline"></ion-icon>
            <label>Contacts</label>
          </ion-segment-button>
          <ion-segment-button value="messages">
            <ion-icon name="ios-mail-outline"></ion-icon>
            <label>Messages</label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
</ion-footer>
