<ion-menu [content]="content">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Pages</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>

      <ion-list>
        <ion-list-header>
          Wallets
        </ion-list-header>
        <button ion-item *ngFor="let p of walletPages" (click)="openPage(p)">
            <ion-icon [name]="p.icon" color="primary3" item-start></ion-icon>
            <span>{{p.title}}</span>
        </button>
      </ion-list>

      <ion-list>
          <ion-list-header>
              DApps
          </ion-list-header>
          <button ion-item *ngFor="let p of dappPages" (click)="openPage(p)">
            <ion-icon [name]="p.icon" color="primary" item-start></ion-icon>
            <span>{{p.title}}</span>
          </button>
          <button ion-item>
              <ion-icon name="ios-home-outline" color="primary" item-start></ion-icon>
              <span>BnB</span>
          </button>
          <span ion-item>...</span>
      </ion-list>
    </ion-content>
  
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
