<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid class="grid-shrink" *ngIf="userReady">
      <ion-row>
        <ion-col>
            <ion-list>
              <ion-item>
                <ion-avatar item-start *ngIf="user.isfb" >
                  <img [src]="user.picture"/>
                </ion-avatar>
                <ion-icon item-start *ngIf="!user.isfb" color="primary3" name="ios-contact-outline"></ion-icon>
                <h2 padding>{{user.name}}</h2>
              </ion-item>
            </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
              <div class="buttons-block">
                  <button ion-button block (click)="doLogout()">Logout</button>
              </div>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>