<ion-header>
  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Wallets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid class="grid-shrink">
        <ion-row>
          <ion-col>
                <ion-list inset>
                  <ion-list-header>
                    Wallet
                  </ion-list-header>
                  <ion-item *ngIf="walletReady">
                    <ion-icon name="ios-briefcase-outline" color="primary" item-start></ion-icon>
                    <span>{{wallet}}</span>
                  </ion-item>
                  <ion-item *ngIf="!walletReady">
                    <ion-icon name="ios-briefcase-outline" color="primary" item-start></ion-icon>
                    <span>Please load or create a wallet.</span>
                  </ion-item>
                </ion-list>
                <ion-list inset *ngIf="walletReady">
                  <ion-list-header>
                    Balance
                  </ion-list-header>
                  <ion-item>
                      <ion-icon name="ios-checkmark-circle-outline" color="primary3" item-start></ion-icon>
                      <span>Amount: {{balance(confirmedBalance)}}</span>
                  </ion-item>
                  <ion-item>
                      <ion-icon name="ios-help-circle-outline" color="primary3" item-start></ion-icon>
                      <span>Unconfirmed: {{balance(unconfirmedBalance)}}</span>
                  </ion-item>
                </ion-list>
                <ion-list inset *ngIf="walletReady">
                    <ion-list-header>
                      Actions
                    </ion-list-header>
                    <button ion-item (click)="send()">
                        <ion-icon name="ios-arrow-dropright-outline" color="primary" item-start></ion-icon>
                        <span>Send</span>
                        <ion-icon name="ios-arrow-forward-outline" color="primary2" item-end></ion-icon>
                    </button>
                    <button ion-item (click)="receive()">
                        <ion-icon name="ios-arrow-dropleft-outline" color="primary" item-start></ion-icon>
                        <span>Receive</span>
                        <ion-icon name="ios-arrow-forward-outline" color="primary2" item-end></ion-icon>
                    </button>
                </ion-list>
                <div ion-text padding color="danger" *ngIf="errorVisible">{{error}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="buttons-block">
                    <button ion-button block (click)="addWallet()">Load</button>
                 </div>
            </ion-col>
            <ion-col>
                <div class="buttons-block">
                    <button ion-button color="primary2" block (click)="createWallet()">Create</button>
                </div>
            </ion-col>
            <ion-col>
                <div class="buttons-block">
                    <button ion-button color="primary3" block (click)="restoreWallet()">Restore</button>
                </div>
            </ion-col>
          </ion-row>
    </ion-grid>
</ion-content>
